.sentMessages_container, .receivedMessages_container, .messageForm_container, .channelMessages_container {
    display: flex;
    flex-direction: raw;
    width: 100%;
    height: 100vh;
    overflow: scroll;  
}
.sentMessage_container {
    background-color: #cef5f7;
}

.sentMessages_wrap, .receivedMessages_wrap , .channelMessages_wrap {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.sentMessagesCard, .receivedMessagesCard, .channelMessagesCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-items: auto;
}

.messageForm_wrap, .channelMessageForm_wrap {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    padding: 20px 0;  
}

.messageForm_textField, .channelMessageForm_textField {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid #113d8d;
    resize: none;
}

.messageForm_heading {
    color: rgb(73, 123, 239);
}

.channelMessageForm_container {
    display: flex;
    justify-content: center;
}

.receivedMessageDetail_container, .sentMessageDetail_container, .channelMessageDetail_container {
    height: 100vh;
}
.receivedMessage_wrap, .sentMessage_wrap, .channelMessages_wrap {
    display: flex;
}

@media (max-width: 900px) {
    .sentMessages_container, .receivedMessages_container, .messageForm_container, .channelMessages_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
}